<ion-header>
  <ion-toolbar>
    <ion-title>
      {{isAuth ? 'MotoTaxi' : 'ავტორიზაცია'}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img [src]="'../../../assets/icon/Logo.JPG'"></ion-img>


  <ion-item style="margin: 5px">
    <ion-label position="floating">მომხმარებლის სახელი</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">პაროლი</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

<div style="display: flex; justify-content: space-around; margin-top: 10px">
  <ion-button color="success" (click)="signIn()">შესვლა</ion-button>

  <ion-button color="primary" routerLink="/register">რეგისტრაცია</ion-button>

</div>
</ion-content>
